@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
}

.dark {
  --bg-dark: url("./img/dark.png");
  background-image: var(--bg-dark);
}
.light {
  --bg-light: url("./img/light.png");
  background-image: var(--bg-light);
}

body {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: background-image 500ms ease-in-out, color 1000ms ease-in-out;
}

.weather {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.weather .weather-name {
  font-size: 3rem;
}

.weather-info {
  padding: 20px;
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 5rem;
}
.weather-condition {
  font-size: 3rem;
}

main {
  height: 90vh;
}

main .weather {
  transform: translateY(30%);
}

header {
  height: 10vh;
  padding: 10px;
}

.enter-city {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

.enter-city button {
  margin-left: 10px;
  padding: 10px 20px;
  font-size: 1.2rem;
  background-color: #cccccc;
  color: #393939;
  border: 3px solid transparent;
}

.enter-city button:hover {
  border-color: #7a7a7a;
}

.enter-city input {
  padding: 10px 20px;
  font-size: 1.2rem;
  border: 3px solid #9b9b9b;
}

.enter-city input:focus {
  border-color: #393939;
  outline: none;
}

.normal {
  text-align: center;
}
@media screen and (max-width: 768px) {
  .enter-city input,
  .enter-city button {
    padding: 3px 6px;
  }
  .normal {
    transform: translateY(200%);
  }
  .weather-info {
    font-size: 3rem;
  }

  .weather-info img {
    width: 60px;
  }
  .weather .weather-name {
    font-size: 2rem;
  }
  .weather-condition {
    font-size: 1.5rem;
  }
}
